*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: #FEFCF7;
}

.menu_head{
    position: relative;
    width: auto;
    max-width: 100%;
}

.menu_head .logo{
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#menupic{
    width : auto;
    max-width: 100%;
}

#menuword{
    font-size: large;
    color: #FEFCF7;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 2em;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F01E1E;
    max-width: 100%;
    margin-top: -1.3%;
    height: 2em;
}

.nav input{
    margin-left: 2vw;
    width: 1em;
    height: 1em;
}

.nav span{
    margin-right: 40vw;
    color: #FFFFFF;
}

.nav button{
    background-image: url("./res/images/arrow.png");
    background-size: cover;
    margin-left: 1em;
    margin-right: 1em;
}

.inner_menu_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.inner_menu_container div{
    margin-left: 1em;
}

.inner_menu_container button{
    margin-right: 2vw;
    font-size: 2ch;
    width: 18vw;
    height: 8vw;
    text-align: center;
    border-radius: 30%;
    border: #707070 solid;
}

.foodunit {
    display: flex;
    flex-direction: column;
}

.foodbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.foodbox img {
    width : 6em;
    height: 6em;
    margin: 0.5em;
}

.foodbox .textbox .burger_desc{
    width: 80%;
    margin-left: 0.5em;
} 

.foodbox .textbox .burger_others{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.foodbox .textbox .burger_others .burger_price{
    margin-left: 2em;
} 

.foodbox input{
    margin-right: 3vw;
    max-width: 3em;
    max-height: 3em;
    color: #FEFCF7;
}

.delDishBtn{
    display: none;
}

#add_more_button{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    align-items: center;
    font-size: large;
    padding: 1.5%;
    border-radius: 10%;
    border:#707070 solid;
}

/*
staff.css
*/

@font-face {
    font-family: "WorkSans";
    src: url("font/WorkSans-Regular.ttf");
}

* {
    font-family: "WorkSans";
}

body{
    background-color: #FEFCF7;
}

.dashboardHeader{
    margin-top: 10%;
    margin-left: 8%;
}

.dashboardImg{
    height: 40%;
    width: 15%;
}

.staffName{
    display: inline-block;
}

.editButton{
    background-color: #F01E1E;
    color: #FFFFFF;
    border-style: none;
    border-radius: 5px;
}

.dashboardIcon{
    height: 20%;
    width: 10%;
    margin-top: 5%;
    margin-left: 5%;
}

.dashboardBar{
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    background-color: #F01E1E;
    border-radius: 15px;
}

.dashboardContent{
    display: inline-block;
}

.dashboardContent h2{
    margin-left: 5%;
}

main h2{
    color: #FFFFFF;
}

img{
    height: 40%;
    width: 15%;
    display: inline-block;
}

.material{
    margin-left: 5%; 
    padding-top: 30px;
}

.rawMaterialIcon{
    height: 15%;
    width: 10%;
    margin-left: 3%;
    margin-top: 5%;
}

.backButton{
    height: 10%;
    width: 5%;
}

.titleContainer{
    background-color: #F01E1E;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

.ingredientContainer{
    background-color: #FFFFFF; 
    margin-left: 2%; 
    margin-right: 2%; 
    padding-bottom: 100px;
}

.title{
    color: #FFFFFF; 
    font-size: 60px;
    display: inline-block;
    margin-left: 30%;
}

.tableContainer{
    background-color: #FEFCF7; 
    margin-left: 3%; 
    margin-right: 3%; 
    padding-top: 50px;
}

.ingredientHeader{
    margin-top: 5%;
}

.ingredientTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 88%;
    margin-left: 50px;
    height: 400px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
    
}

th{
    font-size: 30px;
}

td{
    font-size: 20px;
    
}

tr {
    background-color: #FFFFFF;
}

h2{
    margin-left: 3%;
    font-size: 40px;
}

.add{
    height: 5%;
    width: 5%;
    margin-left: 50px;
    margin-top: 3%;
}

.editForm{
    width: 80%;
    height: 27%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    background: #FEFCF7;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.submitButton{
    width: 91%; 
    height: 100px;
    font-size: 40px;
    color: #FFFFFF;
    background-color: #F01E1E;
    border-style: none;
}

.update{
    background-color: #FFFFFF;
    width: 90%; 
    height: 100px; 
    font-size: 50px;
}

.closeButton {
    background:#F01E1E;
    padding: 4px 12px;
    font-size: 30px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    border-width: 0;
    color: #FFFFFF;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    float:right;
} 

.editButton{
    background-color: #F01E1E;
    color: #FFFFFF;
    border-style: none;
    font-size: 20px;
    border-radius: 4px;
    padding: 4px 12px;
} 

.addForm{
    width: 80%;
    height: 40%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    background: #FEFCF7;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.category  h1{
    display: inline-block;
}

.formTitle{
    margin-top: 5%; 
    margin-left: 5%;
}

.formTitle h1 {
    font-size: 60px;
}

.formContent{
    margin-top: 8%; 
    margin-left: 5%;
}

.formTitle, .formContent h4{
    font-size: 30px;
}